/* Scss Document */
/* Lower Page CSS */
body .gradient {
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 100%); }

#conts h1 {
  background: none; }
#conts .container_bg {
  background-color: white !important;
  max-width: 100vw;
  padding-top: 5rem;
  padding-bottom: 2rem; }
#conts .content_width {
  width: 55vw; }
#conts .img-fluid {
  border-radius: .25rem; }

/* CSS Media Query: On screens that are 991px or less */
@media (max-width: 991px) {
  #conts .container {
    padding: 0; }
    #conts .container .content_width {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0; }
    #conts .container h3, #conts .container p, #conts .container .table_wrap, #conts .container footer {
      margin: 0 2rem; }
  #conts .container_bg {
    padding-top: 0;
    padding-bottom: 2rem; }
  #conts .img-fluid {
    border-radius: 0; } }
ol.ol_big {
  counter-reset: li;
  list-style: none; }
  ol.ol_big li {
    position: relative;
    margin-bottom: 2rem;
    padding: 0 1rem; }
  ol.ol_big li:before {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: -0.5rem;
    left: -2rem;
    width: 1.6em;
    text-align: center; }
