/* Scss Document */
/* Lower Page CSS */
@mixin bgColor($rgba: rgba(255, 255, 255, 1)) {
	background-color: $rgba!important;
	max-width: 100vw;
}
body {
	.gradient {
		background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 100%);
	}
}
#conts {

	h1 {
		background: none;
	}
	.container_bg {
		@include bgColor;
		padding: {
			top: 5rem;
			bottom: 2rem;
		}
	}
	.content_width {
		width: 55vw;
	}
	.img-fluid {
	   border-radius: .25rem;
	}
	h3 img {
		width: 3rem;
	}
}
/* CSS Media Query: On screens that are 991px or less */
@media (max-width: 991px) {
	#conts {

		.container {
			padding: 0;

			.content_width {
				width: 100%;
				padding: {
					top: 0;
					bottom: 0;
				}
			}
		}
		.container_bg {
			padding: {
				top: 0;
				bottom: 2rem;
			}
		}
		.img-fluid {
		   border-radius: 0;
		}
	}
}
ol.ol_big {
	counter-reset: li;
	list-style: none;

	li {
		position: relative;
		margin-bottom: 2rem;
		padding: 0 1rem;
	}
	li:before {
		counter-increment: li;
		content: counter(li);
		position: absolute;
		font-size: 2rem;
		font-weight: bold;
		top: -0.5rem;
		left: -2rem;
		width: 1.6em;
		text-align: center;
	}
}



