/* Scss Document */
@mixin responsive($margin: 1rem auto 0) {
	margin: $margin;
}
@font-face {
	font-family: "Sunnydino","Cupcakia";
	src: url("../fonts/Sunnydino.otf","../fonts/Cupcakia.otf");
}
.sunnydino {
	font-family:"Sunnydino";
	letter-spacing: .1rem;
}
.cupcakia {
	font-family:"Cupcakia";
	letter-spacing: .1rem;
}
@mixin fSize($fSize: 1, $Unit: rem) {
	font-size: $fSize + $Unit;
}
.fSize_8 {
	@include fSize(.8);
}
.fSize_9 {
	@include fSize(.9);
}
.fSize1 {
	@include fSize();
}
.fSize2 {
	@include fSize(2);
}
@mixin subscribeBtn($pTop: 1, $pLeft: 1, $Unit: rem) {
	padding: {
		top: $pTop + $Unit;
		left: $pLeft + $Unit;
	} 
	line-height: 1;

	span:last-child {
		letter-spacing: 2px;
	}
}
@mixin bgImage($imgName, $extension, $value: cover) {
	background: url("../images/" + $imgName + "." + $extension) center no-repeat;
	background-size: $value;
}
%full_screen {
	width: 100vw;
	height: auto;
	min-height: 100vh;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff!important;
    background-color: #28a745;
}
body {
	@include bgImage(bg_conts_01, jpg);
	background-attachment: fixed;
	
	.gradient {
		@extend %full_screen;
		position: fixed;
		background: linear-gradient(to left, rgba(166,217,0,.4) 0%, rgba(255,68,84,.4) 100%);
		//background: -webkit-gradient(linear, left top, right bottom, from(red), color-stop(0.2, orange), color-stop(0.3, yellow), color-stop(0.5, green), color-stop(0.7, blue), color-stop(0.8, indigo), to(violet));
		//background: linear-gradient(-45deg, rgba(246, 255, 0, 0.1), rgba(255, 0, 161, 0.1));
		//background: -webkit-linear-gradient(to right, rgba(255,0,128,0.2), rgba(255,140,0,0.2), rgba(64,224,208,0.2));  /* Chrome 10-25, Safari 5.1-6 */
		//background: linear-gradient(to right, rgba(255,0,128,0.2), rgba(255,140,0,0.2), rgba(64,224,208,0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		animation: huerotator 20s ease-in-out infinite alternate;

		@keyframes huerotator {
			0% {
				-webkit-filter: hue-rotate(0deg);
				filter: hue-rotate(0deg);
			}
			100% {
				-webkit-filter: hue-rotate(360deg);
				filter: hue-rotate(360deg);
			}
		}
	}
}
#gNav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	min-height: 100vh;
		
	.navbar-toggler {
		@include responsive;
		&:focus {
				outline: none;
		}
	}
	#NavbarWrap {
		z-index: 2;

		.subscribe_btn {
			@include subscribeBtn( .6, .6);

		}
		.navbar-collapse.collapse.in, .open > .dropdown-menu {
			display: inline-block;
		}
		h5 span {
				padding-top: .3rem;
				font-size: .5rem;
				vertical-align: middle;
		}
		.list-group-item a {
			padding: .75rem 1.25rem;
		}
	}	
	#Navbar_bottom {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		
		#btnSNS {
			
			a {
				width: 2.5rem;
				height: 2.5rem;
				margin: 0 auto;
			}
			$icons: "ico_sns_tw", "ico_sns_pr", "ico_sns_fb", "ico_sns_ig";	
			@each $icon in $icons {
				$key: index($icons, $icon);
				li {
					&:nth-child(#{$key}) a {	
						@include bgImage($icon, png);
					}
				}
			}
		}
		#bbc {
			text-align: center;
			padding: .6rem 0;
			line-height: 1;
			background: linear-gradient(to right, rgba(151, 2, 104, 1), rgba(61, 22, 113, 1));
			
			img {
				width: 4rem;
			}
		}
	}
}
#conts {
	@extend %full_screen;
	margin: 0 0 0 8.5rem;
	
	h1 {
		@include bgImage(txt_ttl_h1, svg, contain);
	}
	.subscribe_btn {
		@include subscribeBtn( .75, .9);

	}
	a.col-md-3 {
	    transition: opacity .3s linear;
		
		&:hover {
			text-decoration: none;
			opacity: .825;
		}
		.card-body {
			top: -2rem;
		}
	}
	@for $i from 1 through 3 {
		a.col-md-3 {
			&:nth-child(#{$i}) .card-title {
				@include bgImage(bg_ttl_0#{$i}, png);
				padding: .6rem .5rem .3rem .6rem;
			}
		}
	}
}

@media (max-width: 1199px) {

	%flex100 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		min-height: 0;
	}
	#gNav {
		@extend %flex100;
		position: relative;

		.navbar {
			padding-bottom: 0;
		}
		.navbar-toggler {
			@include responsive(0 0 .5rem 1rem);
		}
		.card {
			width: 100%!important;
		}
		#Navbar_bottom {		
			@extend %flex100;
			position: relative;
			
			#btnSNS {
				position: relative!important;
				display: -webkit-flex; /* Safari */
				display: flex;
				-webkit-flex-direction: row; /* Safari */
				flex-direction: row;
				-webkit-justify-content: center; /* Safari */
				justify-content: center;
				margin-top: .7rem;

				a {
					margin: 0 .5rem!important;
				}
			}
		}
	}
	#conts {
		@extend %flex100;
		height: auto;
		margin: 0;
	}
}

@media (max-width: 991px) {
	a.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		min-height: 0;
	}
}
