/* Scss Document */
/* Common CSS */
.wip {
  background: black;
  opacity: 1; }

body .gradient, #conts {
  width: 100vw;
  height: auto;
  min-height: 100vh; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  background-color: #28a745; }

/* Designate font-families */
@font-face {
  font-family: "Sunnydino";
  src: url("../fonts/Sunnydino.otf"), url("../fonts/sunnydino-webfont.woff") format("woff");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: "Cupcakia";
  src: url("../fonts/Cupcakia.otf"), url("../fonts/cupcakia-webfont.woff") format("woff");
  /* Safari, Android, iOS */ }
.sunnydino {
  font-family: "Sunnydino";
  letter-spacing: .1rem; }

.cupcakia {
  font-family: "Cupcakia";
  letter-spacing: .1rem; }

/* Effect when mouse over */
.imgWrap {
  display: block;
  overflow: hidden;
  background: black;
  border-radius: .25rem; }
  .imgWrap img {
    display: block;
    transition-duration: 0.3s; }
    .imgWrap img:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
      opacity: 0.6; }
  .imgWrap .imgEff {
    display: block;
    position: relative;
    transition-duration: 0.3s;
    border-radius: .25rem; }
    .imgWrap .imgEff:hover {
      transform: scale(1.1); }
    .imgWrap .imgEff:before {
      content: "";
      position: absolute;
      background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
      transition-duration: 0.3s;
      opacity: 0; }
    .imgWrap .imgEff:hover:before {
      opacity: 1; }

/* Designate font-sizes */
.fSize_8 {
  font-size: 0.8rem; }

.fSize_9 {
  font-size: 0.9rem; }

.fSize1 {
  font-size: 1rem; }

.fSize2 {
  font-size: 2rem; }

/* Designate subscribeBtn */
/* Designate backgrounds */
/* Designate each styles */
body {
  background: url("../images/bg_conts_01.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 100; }
  body .gradient {
    position: fixed;
    background: linear-gradient(to left, rgba(166, 217, 0, 0.4) 0%, rgba(255, 68, 84, 0.4) 100%);
    animation: huerotator 20s ease-in-out infinite alternate; }
@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }
    body .gradient > row {
      margin: 0; }

#gNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  min-height: 100vh; }
  #gNav .navbar-toggler {
    margin: 1rem auto 0; }
    #gNav .navbar-toggler:focus {
      outline: none; }
  #gNav .card {
    width: 18rem;
    margin-left: 1rem; }
  #gNav #NavbarWrap {
    z-index: 2; }
    #gNav #NavbarWrap .subscribe_btn {
      padding-top: 0.6rem;
      padding-left: 0.6rem;
      line-height: 1; }
      #gNav #NavbarWrap .subscribe_btn span:last-child {
        letter-spacing: 2px; }
    #gNav #NavbarWrap .navbar-collapse.collapse.in, #gNav #NavbarWrap .open > .dropdown-menu {
      display: inline-block; }
    #gNav #NavbarWrap h5 span {
      padding-top: .3rem;
      font-size: .5rem;
      vertical-align: middle; }
    #gNav #NavbarWrap .list-group-item a {
      padding: .75rem 1.25rem; }
  #gNav #Navbar_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0; }
    #gNav #Navbar_bottom #btnSNS a {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 auto; }
    #gNav #Navbar_bottom #btnSNS li:nth-child(1) a {
      background: url("../images/ico_sns_tw.png") center no-repeat;
      background-size: cover; }
    #gNav #Navbar_bottom #btnSNS li:nth-child(2) a {
      background: url("../images/ico_sns_pr.png") center no-repeat;
      background-size: cover; }
    #gNav #Navbar_bottom #btnSNS li:nth-child(3) a {
      background: url("../images/ico_sns_fb.png") center no-repeat;
      background-size: cover; }
    #gNav #Navbar_bottom #btnSNS li:nth-child(4) a {
      background: url("../images/ico_sns_ig.png") center no-repeat;
      background-size: cover; }
    #gNav #Navbar_bottom #bbc {
      text-align: center;
      padding: .6rem 0;
      line-height: 1;
      background: linear-gradient(to right, #970268, #3d1671); }
      #gNav #Navbar_bottom #bbc img {
        width: 4rem; }

#conts {
  margin: 0 0 0 7.3rem; }
  #conts h1 {
    background: url("../images/logo_ttl_01.svg") center no-repeat;
    background-size: contain; }
  #conts .subscribe_btn {
    padding-top: 0.75rem;
    padding-left: 0.9rem;
    line-height: 1; }
    #conts .subscribe_btn span:last-child {
      letter-spacing: 2px; }
  #conts a.col-md-3 {
    transition: opacity .3s linear; }
    #conts a.col-md-3:hover {
      text-decoration: none; }
    #conts a.col-md-3 .card-body {
      top: -2rem; }
  #conts a.col-md-3:nth-child(1) .card-title {
    background: url("../images/bg_ttl_01.png") center no-repeat;
    background-size: cover;
    padding: .6rem .5rem .3rem .6rem; }
  #conts a.col-md-3:nth-child(2) .card-title {
    background: url("../images/bg_ttl_02.png") center no-repeat;
    background-size: cover;
    padding: .6rem .5rem .3rem .6rem; }
  #conts a.col-md-3:nth-child(3) .card-title {
    background: url("../images/bg_ttl_03.png") center no-repeat;
    background-size: cover;
    padding: .6rem .5rem .3rem .6rem; }

/*  CSS Media Query: On screens that are 1199px or less */
@media (max-width: 1199px) {
  #gNav, #gNav #Navbar_bottom, #conts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 0; }

  #gNav {
    position: relative; }
    #gNav .navbar {
      padding-bottom: 0; }
    #gNav .navbar-toggler {
      margin: 0 0 0.5rem 1.2rem; }
    #gNav .card {
      width: 100% !important; }
    #gNav #Navbar_bottom {
      position: relative; }
      #gNav #Navbar_bottom #btnSNS {
        position: relative !important;
        display: -webkit-flex;
        /* Safari */
        display: flex;
        -webkit-flex-direction: row;
        /* Safari */
        flex-direction: row;
        -webkit-justify-content: center;
        /* Safari */
        justify-content: center;
        margin-top: .7rem; }
        #gNav #Navbar_bottom #btnSNS a {
          margin: 0 0.5rem !important; }

  #conts {
    height: auto;
    margin: 0; } }
/* CSS Media Query: On screens that are 991px or less */
@media (max-width: 991px) {
  body {
    background: none; }

  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url("../images/bg_conts_01.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    /* Android4 */ }

  #gNav .card {
    width: 18rem;
    margin-left: 0; }

  #conts .row {
    margin-left: 0;
    margin-right: 0; }
    #conts .row .container {
      padding-left: 0;
      padding-right: 0; }
    #conts .row a.col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      min-height: 0;
      padding-left: 0;
      padding-right: 0; } }
