/* Scss Document */
/* For Make Page */
body {
  background: url("../images/bg_conts_01.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#conts .container_bg_alpha {
  background-color: rgba(80, 218, 219, 0.5) !important;
  max-width: 100vw; }
  #conts .container_bg_alpha h2 {
    background: url("../images/logo_ttl_02.svg") center no-repeat;
    background-size: contain; }

/* CSS Media Query: On screens that are 991px or less */
@media (max-width: 991px) {
  body::before {
    background: url("../images/bg_conts_01.jpg") center no-repeat;
    background-size: cover; } }
