/* Scss Document */
/* For Make Page */
@mixin bgImage($imgName, $extension, $value: cover) {
	background: url("../images/" + $imgName + "." + $extension) center no-repeat;
	background-size: $value;
}
@mixin bgColor($rgba: rgba(255, 255, 255, 1)) {
	background-color: $rgba!important;
	max-width: 100vw;
}
body {
	@include bgImage(bg_conts_01, jpg);
	background-attachment: fixed;
}
#conts {
	.container_bg_alpha {
		@include bgColor(rgba(245, 120, 122, 0.5));
		
		h2 {
			@include bgImage(logo_ttl_03, svg, contain);
		}
	}
}
/* CSS Media Query: On screens that are 991px or less */
@media (max-width: 991px) {
	
	body::before {
		@include bgImage(bg_conts_01, jpg);
	}	
}



